<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="UTF-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>Note</title> 
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/solarized-light.css">
 </head> 
 <body style="padding-top: 70px;"> 
  <!--导航栏 --> 
  <nav class="navbar navbar-default navbar-fixed-top"> 
   <div class="container"> 
    <div class="navbar-header"> 
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> 
     <a class="navbar-brand" href="/">Note Book</a> 
    </div> 
    <div id="navbar" class="navbar-collapse collapse"> 
     <ul class="nav navbar-nav"> 
      <li> <a href="/list">公共文章</a> </li> 
      <li id="menu-user" class="dropdown"></li> 
      <div class="navbar-form navbar-right"> 
       <button id="open-login" type="button" class="btn btn-default" style="display:none;overflow: visible;">登录/注册</button> 
      </div> 
     </ul> 
     <!--搜索栏 --> 
     <div class="navbar-form navbar-right" onsubmit="return search(this);"> 
      <div class="form-group"> 
       <span id="search-warning" class="label label-warning"></span> 
       <input id="header-search" type="text" class="form-control" placeholder="Search" /> 
      </div> 
      <button id="header-search-buttom" type="submit" class="btn btn-default">Search</button> 
     </div> 
     <!--搜索栏 --> 
    </div> 
   </div> 
  </nav> 
  <!--导航栏 --> 
  <!--编辑栏 --> 
  <div id="title-editer" class="container"> 
   <!--标题 --> 
   <div class="input-group"> 
    <span class="input-group-addon" id="sizing-addon2">标题:</span> 
    <input id="text-title" type="text" class="form-control" placeholder="Title" /> 
   </div> 
  </div> 
  <div id="essay-editer" class="container" style="padding-top: 1em;"> 
   <!--正文--> 
   <textarea id="text-artical" class="form-control" rows="25" placeholder="Artical" style="max-width: 100%;"></textarea> 
   <p style="padding-top: 1em;"> <button id="text-submit"  type="button" class="btn btn-primary">提交</button> <button id="text-info-show" type="button" class="btn btn-default">详情</button> <button id="text-shower-show" type="button" class="btn btn-default">预览</button> </p> 
    <!-- disabled="disabled" -->
  </div> 
  <!--编辑栏 --> 
  <!--属性栏 --> 
  <div id="attributer" class="container" style="display:none;overflow: visible;"> 
   <div class=" panel panel-default"> 
    <div class="panel-body"> 
     <div class="row"> 
      <!--文章密码 --> 
      <div class="col-sm-6"> 
       <div class="input-group" style="padding-bottom: 1em;"> 
        <span class="input-group-addon">密码:</span> 
        <input id="text-password" type="text" class="form-control" disabled="disabled" placeholder="填0取消密码" /> 
        <span class="input-group-btn"> <button id="text-password-on" class="btn btn-default" type="button">启用</button></span> 
       </div> 
      </div> 
      <!--文章密码 --> 
      <!--文章tag --> 
      <div class="col-sm-6" style="padding-bottom: 1em;"> 
       <div class="input-group"> 
        <span class="input-group-addon">tag:</span> 
        <input id="text-tag" type="text" class="form-control" /> 
        <span class="input-group-addon">用，或,分割</span> 
       </div> 
      </div> 
      <!--文章tag --> 
      <!--文章type --> 
      <!--id/文章提交/编辑日期 --> 
      <div class="col-lg-4" style="padding-bottom: 1em;"> 
      <div class="input-group"> 
        <span class="input-group-addon">类型:</span> 
        <select id="text-type" class="form-control">
         <!--该块内容由js填写-->
        </select>
      </div> 
      </div> 
      <!--文章type -->
      <!--文章group --> 
      <div class="col-sm-4" style="padding-bottom: 1em;"> 
       <div class="input-group"> 
        <span class="input-group-addon">group:</span> 
        <input type="text" disabled="disabled" class="form-control" placeholder="暂未启用" /> 
        <span class="input-group-btn"> <button class="btn btn-default" type="button">Go!</button></span> 
       </div> 
      </div> 
      <!--文章group --> 
      <!--文章right --> 
      <div class="col-sm-4" style="padding-bottom: 1em;"> 
       <div class="input-group"> 
        <span class="input-group-addon">right:</span> 
        <input type="text" class="form-control" disabled="disabled" placeholder="暂未启用" /> 
       </div> 
      </div> 
      <!--文章right --> 
      <!--id/文章提交/编辑日期 --> 
      <div class="col-lg-12" style="padding-bottom: 1em;"> 
       <div class="input-group"> 
        <span class="input-group-addon">ID:</span> 
        <input id="text-id" type="text" class="form-control" disabled="disabled" placeholder="000000" /> 
        <span class="input-group-addon">提交:</span> 
        <input id="text-pubtime" type="text" class="form-control" disabled="disabled" placeholder="0000-00-00 00:00:00" /> 
        <span class="input-group-addon">最近:</span> 
        <input id="text-lastesttime" type="text" class="form-control" disabled="disabled" placeholder="0000-00-00 00:00:00" /> 
       </div> 
      </div> 
      <!--文章right -->
     </div> 
    </div> 
   </div> 
  </div> 
  <!--属性栏 --> 
  <!--展示栏 --> 
  <div id="shower" class="container"> 
   <div class="panel panel-default"> 
    <div class="panel-heading"> 
     <h3 id="showtitle" class="panel-title" style="font-weight:bold;">Title</h3> 
    </div> 
    <div id="showartical" class="panel-body">
     Artical
    </div> 
   </div> 
  </div> 
  <!--展示栏 --> 
  <!--列表组 --> 
  <div class="container"> 
   <div id="listshower" class="list-group"> 
    </div>
       <!--翻页 --> 
        <nav class="container" style="text-align: center">
          <ul id="list-page" class="pagination">
          </ul>
        </nav>
    <!--翻页 --> 
  </div> 
  <!--列表组 --> 
  <!--登录模组框 --> 
  <div id="Modal-Login" class="modal fade" tabindex="-1"> 
   <div class="modal-dialog" role="document"> 
    <div class="modal-content"> 
     <div class="modal-header"> 
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button> 
      <h4 class="modal-title">登录</h4> 
     </div> 
     <div class="modal-body"> 
      <!--登录 --> 
      <div class="form-horizontal"> 
       <div class="form-group"> 
        <label class="col-sm-2 control-label">Email/Name</label> 
        <div class="col-sm-10"> 
         <input id="login-name" type="email" class="form-control" placeholder="Email/Name" /> 
        </div> 
       </div> 
       <div class="form-group"> 
        <label class="col-sm-2 control-label">Password</label> 
        <div class="col-sm-10"> 
         <input id="login-password" type="password" class="form-control" placeholder="Password" /> 
        </div> 
       </div> 
       <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-8"> 
         <div class="checkbox"> 
          <label> <input id="login-remember" type="checkbox" />Remember me</label> 
         </div> 
        </div> 
       </div> 
      </div> 
      <!--登录 -->
     </div> 
     <div class="modal-footer"> 
      <button id="login-bottom" type="submit" class="btn btn-default">登录</button> 
      <button onclick="window.open('/register')" id="Signup-bottom" type="submit" class="btn btn-default">注册</button> 
      <button id="reset-open" type="submit" class="btn btn-default">忘记密码</button> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!--登录模组框 --> 
  <!--文章密码模组框 --> 
  <div id="Modal-artical-password" class="modal fade" tabindex="-1"> 
   <div class="modal-dialog" role="document"> 
    <div class="modal-content"> 
     <div class="modal-header"> 
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button> 
      <h4 class="modal-title">请输入密码</h4> 
     </div> 
     <div class="modal-body"> 
      <div class="form-horizontal"> 
       <div class="form-group"> 
        <label class="col-sm-2 control-label">Password</label> 
        <div class="col-sm-10"> 
         <input id="Modal-artical-passwords" type="password" class="form-control" placeholder="Password" /> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="modal-footer"> 
      <button id="Modal-artical-passwords-submit" type="submit" class="btn btn-default">提交</button> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!--文章密码模组框 --> 
  <!--修改密码模组框 --> 
  <div id="change-user-password" class="modal fade" tabindex="-1"> 
   <div class="modal-dialog" role="document"> 
    <div class="modal-content"> 
     <div class="modal-header"> 
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button> 
      <h4 class="modal-title">请输入新旧密码</h4> 
     </div> 
     <div class="modal-body"> 
      <div class="form-horizontal"> 
       <div class="form-group"> 
        <label class="col-sm-3 control-label">Password</label> 
        <div class="col-sm-8"> 
         <input id="change-oldpassword" type="password" class="form-control" placeholder="Password" /> 
        </div> 
        <span id="change-oldpassword-warning" class="label label-warning"></span> 
       </div> 
       <div class="form-group"> 
        <label class="col-sm-3 control-label">New Password</label> 
        <div class="col-sm-8"> 
         <input id="change-newpassword" type="password" class="form-control" placeholder="Password" /> 
         <span id="change-password-warning" class="label label-warning"></span> 
        </div> 
       </div> 
       <div class="form-group"> 
        <label class="col-sm-3 control-label">Confirm New Password</label> 
        <div class="col-sm-8"> 
         <input id="change-confirm-newpassword" type="password" class="form-control" placeholder="Password" /> 
         <span id="change-confirm-password-warning" class="label label-warning"></span> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="modal-footer"> 
      <button id="change-password-submit" type="submit" class="btn btn-default">提交</button> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!--修改密码模组框 --> 
  <!--重置密码模组框 --> 
  <div id="reset-password" class="modal fade" tabindex="-1"> 
   <div class="modal-dialog" role="document"> 
    <div class="modal-content"> 
     <div class="modal-header"> 
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button> 
      <h4 class="modal-title">重置密码</h4>
     </div> 
     <div class="modal-body"> 
      <div class="form-horizontal"> 
       <div class="form-group"> 
        <label class="col-sm-2 control-label">Name</label> 
        <div class="col-sm-10"> 
         <input id="reset-name" type="email" class="form-control" placeholder="Name" /> 
         <span id="reset-name-warning" class="label label-warning"></span> 
        </div> 
       </div> 
       <div class="form-group"> 
        <label class="col-sm-2 control-label">Email</label> 
        <div class="col-sm-10"> 
         <input id="reset-mail" type="email" class="form-control" placeholder="Email" /> 
         <span id="reset-mail-warning" class="label label-warning"></span> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="modal-footer"> 
      <button id="reset-submit" type="submit" class="btn btn-default">重置</button> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!--重置密码模组框 --> 
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script> 
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/highlight.pack.js"></script>
  <!-- <script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script> -->
  <!-- <script hljs.initHighlightingOnLoad();</script> -->
  <script src="/js/markdown-it.min.js"></script> 
  <script src="/js/js-sha256 v0.3.0.js"></script> 
  <script src="/js/notebook.js"></script>  
 </body>
</html>